dokumen.tips_introduction-to-microfluidics-5881d5da268b4.pdf
Electroosmotic_Flow_in_Microchannels.pdf
introduction-to-microfluidics-2nbsped-0192845306-9780192845306_compress.pdf
NS.exe
.ipynb_checkpoints/Shear Flow-checkpoint.ipynb
